@import url(../style/fonts.css);

/* Variaveis */
:root{
    --cor1: #90EE90;
    --cor2: #4D7C7D;
}

*{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'codec pro', Arial, Helvetica, sans-serif;
}

/* Cabeçalho */
header{
    font-family: 'codec pro', Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--cor1);
    padding: 50px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.281);
}

header h1{
    margin-left: 30px;
}

/* Corpo do site */
main{
    padding: 50px;
    background-color: #90ee9094;
    transition: all .5s;
}

main:hover{
    background-color: #90ee906c;
    transition: all .5s;
}

.bairrosInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.bairrosInfo .map-area, .description-area{
    padding: 20px;
}

.map-area{
    border-radius: 200px;
}

/* Footer */
/* .social ul {
    list-style-type: none;
    display: flex;
}
  
.social a {
    margin: 0 .5rem;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.social .facebook {
    background-color: #4b64a6;
}
  
.social .github {
    background-color: #171515;
}
  
.social .twitter {
    background-color: #00abf1;
}
  
.social .instagram {
    background-color: #d62976;
}
  
.footer {
    border-top: 1px solid #e0e0e0;
}
  
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.footer address {
    font-style: normal;
    color: #707070;
}
  
.footer .copyright {
    padding: 1.5rem;
    font-size: .8rem;
    background-color: #828282;
    text-align: center;
    color: #fff;
} */